[Unit]
Description=PiSugar server

[Service]
EnvironmentFile=/etc/default/pisugar-server
ExecStart=/usr/bin/pisugar-server $OPTS
ExecReload=/bin/kill $MAINPID && /usr/bin/pisugar-server $OPTS
ExecStop=/bin/kill $MAINPID
Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s
WorkingDirectory=/etc/pisugar-server

[Install]
WantedBy=multi-user.target