[Unit]
Description=PiSugar server

[Service]
EnvironmentFile=/etc/default/pisugar-server
ExecStart=/usr/bin/pisugar-server --config=$CONFIG --uds=$UDS --tcp=$TCP --ws=$WS --web=$WEB --http=$HTTP
ExecStop=/bin/kill $MAINPID
ExecStopPost=/bin/rm $WS
Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s
WorkingDirectory=/etc/pisugar-server

[Install]
WantedBy=multi-user.target