[source.crates-io]
replace-with = 'rsproxy'

[source.rsproxy]
registry = "https://rsproxy.cn/crates.io-index"
[source.rsproxy-sparse]
registry = "sparse+https://rsproxy.cn/index/"

[registries.rsproxy]
index = "https://rsproxy.cn/crates.io-index"

[net]
git-fetch-with-cli = true

[build]
# target = "arm-unknown-linux-musleabihf"

[target.arm-unknown-linux-musleabi]
linker = "arm-linux-musleabi-gcc"
strip = { path = "arm-linux-musleabi-strip" }
objcopy = { path = "arm-linux-musleabi-objcopy" }


[target.arm-unknown-linux-musleabihf]
linker = "arm-linux-musleabihf-gcc"
strip = { path = "arm-linux-musleabihf-strip" }
objcopy = { path = "arm-linux-musleabihf-objcopy" }

[target.aarch64-unknown-linux-musl]
linker = "aarch64-linux-musl-gcc"
rustflags = ["-C", "target-feature=+crt-static"]
strip = { path = "aarch64-linux-musl-strip" }
objcopy = { path = "aarch64-linux-musl-objcopy" }

[alias]
build-arm = "build --target arm-unknown-linux-musleabi"
build-armhf = "build --target arm-unknown-linux-musleabihf"
build-aarch64 = "build --target aarch64-unknown-linux-musl"
deb-server-arm = "deb -p pisugar-server --target arm-unknown-linux-musleabi"
deb-server-armhf = "deb -p pisugar-server --target arm-unknown-linux-musleabihf"
deb-server-aarch64 = "deb -p pisugar-server --target aarch64-unknown-linux-musl"
deb-poweroff-arm = "deb -p pisugar-poweroff --target arm-unknown-linux-musleabi"
deb-poweroff-armhf = "deb -p pisugar-poweroff --target arm-unknown-linux-musleabihf"
deb-poweroff-aarch64 = "deb -p pisugar-poweroff --target aarch64-unknown-linux-musl"