name: Release QiNiu

on:
  release:
    types: [published]

jobs:
  upload-qiniu:
    name: "Upload to QiNiu"
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Upload to QiNiu"
        env:
          QINIU_BUCKET: ${{ secrets.QINIU_BUCKET }}
          QINIU_AK: ${{ secrets.QINIU_AK }}
          QINIU_SK: ${{ secrets.QINIU_SK }}
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip

          mkdir release
          cd release

          if [ $(uname -m) == 'x86_64' ]; then
            wget https://github.com/qiniu/qshell/releases/download/v2.16.1/qshell-v2.16.1-linux-amd64.tar.gz
            tar -xvf qshell-v2.16.1-linux-amd64.tar.gz
          else
            wget https://github.com/qiniu/qshell/releases/download/v2.16.1/qshell-v2.16.1-linux-386.tar.gz
            tar -xvf qshell-v2.16.1-linux-386.tar.gz
          fi
          chmod +x qshell
          ./qshell account -w ${QINIU_AK} ${QINIU_SK} deploy-account

          curl https://api.github.com/repos/PiSugar/pisugar-power-manager-rs/releases/latest > latest

          sudo apt-get install -y jq
          for url in $(jq '.assets[].browser_download_url' latest); do
            url=$(echo $url | awk -F '"' '{print $2}')
            filename=${url##*/}
            wget -O ${filename} ${url}
            mimetype=application/octet-stream
            if (echo "$filename" | grep '.*.sh$'); then
              mimetype=text/plain
            fi
            ./qshell rput --overwrite --mimetype ${mimetype} ${QINIU_BUCKET} release/${filename} ${filename} &
          done

          ./qshell rput --overwrite --mimetype text/plain ${QINIU_BUCKET} release/pisugar-power-manager.sh ../scripts/pisugar-power-manager.sh &

          wait
          echo "All uploaded to qiniu"
